#scrollbar_container {
	position:relative;
	width:200px;
}

#scrollbar_track {
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:10px;
	background-color: #d4f9ac;
	cursor:move;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#scrollbar_handle {
	width:10px;
	background-color: green; // change color here
	cursor:move;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity:0.9;
    -moz-opacity:0.9;
}

#scrollbar_content {
	overflow:hidden;
	width:185px;
	height:390px;
}