.jumbotron-contact {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px;
  margin-bottom: 30px;
}

.jumbotron-contact-sm {
  padding-top: 24px;
  padding-bottom: 24px;
}

.jumbotron-contact small {
  color: #FFF;
}

.h1 small {
  font-size: 16px;
}

